.main {
  background-image: url("https://cdn.wallpapersafari.com/21/77/ewAoBl.jpg");
  display: grid;
  /* background-color: #6789fe;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png"); */
}
.App {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  justify-items: center;
  align-items: center;
}
.App-header {
  display: grid;
  grid-template-columns: 125px auto;
  flex-direction: column;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: 200px;
}
.Header-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid hsla(0, 96%, 49%, 0.7);
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: medium;
}
.App-logo {
  align-items: flex-start;
  width: 105px;
  padding: 14px;
}
.font-logo {
  color: #fc7900;
  font-family: "Boogaloo", cursive;
  font-size: 43px;
}

.item {
  /* margin: 20px; */
  -ms-flex: 48%; /* IE10 */
  flex: 48%;
  max-width: 46%;
  padding: 2%;
}

.App-phone {
  width: 100%;
}
.App-pic {
  width: 100%;
  margin-top: 8px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .item {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .item {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* .container {
  color: aliceblue;
} */

.Appstore-button {
  width: 165;
  height: 40;
}
